
body {
    background-image: url('/images/guitar-case.JPG');
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

img {
    height: 300px;
}

nav {
    position: relative;
    top: 0;
    left:0;
    right:0;
    background-color:  #0879BC;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    padding: o ;
    font-size: 25px;
}

#brand {
    text-decoration: underline;
    text-decoration: overline;

}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}




nav ul li a:hover {
    color: rgb(141, 139, 139);
    cursor: pointer;
}

#cart {
    height: 50px;
}



nav #cart-link:hover {
    transform: scale(1.2);
}

#cart-link {
    display: flex;
    align-items: center;
    position: relative;
    transition: transform 0.3s;
}

.quantity {
    position: absolute;
    top: -8px;
    right: -16px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 10px;
  }


.saleProducts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 30px;
    justify-content: space-between;
    position: relative;

}

.card-border {
    border:rgb(73, 82, 82);
    padding: 10px;
    border-style: solid;
    border-width: 4px;
    margin: 30px;
    border-radius: 15px;
    background-color:rgb(170, 170, 170);
    transition: ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}

.card {
    height: 300px;
    width: 200px;    
    border-radius: 30px;
    padding: 20px 20px 20px 20px;   
}

.products h3 {
    display: flex;
    justify-content: center;
    align-items: center;

}

button {
    border-radius: 10px;
    border-style: hidden;
    background-color: rgb(73, 82, 82);
    color: white;
    height:40px;
    width: 65%;
    margin-bottom: 20px;
    margin-top: 20px;
}

button:hover {
    border-style: solid;
    background-color: #0879BC;
    border-color:#0879BC;
    color: white;
}

button:active {
    background-color: white;
    color: black;
}
#old-price {
    text-decoration: line-through;
}

.corner-ribbon {
    width: 100px;
    background: #e43;
    position: relative;
    top: -418px;
    left:-105px;
    text-align: center;
    line-height: 30px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    overflow: hidden;
  }